:root {
  --large-font: 1.5rem;
  --medium-font: 1.25rem;
}

html, body, ul, li, header, main, div, button, h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, button, a {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;

  h1 {
    font-size: var(--large-font);
  }
}


ul, li, header, main, div {
  display: flex;
}

html, body, ul, div, #sectionContainer, #setContainer, #exerciseContainer, a, #setVideo {
  width: 100%;
}

input {
  box-shadow: inset 5px 5px 5px #00000011;
}

.active {
  display: flex !important;
}
.hide {
  display: none !important;
}

body, main, section, ul {
  flex-direction: column;
}

main {
  min-height: calc(90vh - 2rem);
  position: relative;

}

header {
  display: grid;
  grid-template-columns: auto auto;
  width: calc(100% - 0.5rem);
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;

  nav {
    display: flex;
    button:not(:first-child) {
      margin-left: 0.25rem !important;
    }

    #menuButton {
      height: 6vh;
      width: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--large-font);
      margin: 0;

    }

  }
  h1 {
    font-size: 1rem;
  }

}

#breadCrumbs {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 95%;
  margin: auto;



  #exerciseBack, #sectionBack {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.10rem  ;
    margin: 0;
    padding: 0 1rem;

  }

  #exerciseBack, #sectionBack {
    display: none;
  }
}


#menu {
  height: 92vh;
  width: 100%;
  position: fixed;
  top: 8vh;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10;
  background:white;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin:auto;
  }

  #clearStorage {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }
  label, select, input {
    width:90%;
    margin:auto;
    padding:0.5rem;
    font-size: 0.75rem;
  }

}


#sectionContainer, #setContainer, #exerciseContainer {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    min-height: 5vh;
    width: 98%;
    margin: 2.5rem 0 6rem;


  }

  a {
    align-items: center;
    justify-content: center;
    display: flex;
    outline: 1px solid black;
    margin-bottom:0.25rem;
    box-shadow: 0 0 5px #00000033;
    height: 10vh;
    text-decoration: none;
    transition: background-color 200ms linear;
    background-color: white;
    font-size: var(--large-font);
    color: blue
  }


  #setHeading, #setDescription {
    width: calc(100% - 1.5rem);
    font-size: var(--large-font);
    padding: 0.75rem;

  }

  #setHeading {
    padding-bottom: 0;
  }

  #setDescription {
    font-size: var(--medium-font);
    justify-content: flex-start;


  }

  #setVideo {

    aspect-ratio: 4/3;
    display: none
  }

  #sectionContainer a:hover, #exerciseContainer a:hover {
    background-color: #eee;
    color: darkblue;
  }

  #exercisesList:empty, #setList:empty {
    display: none;
    margin: 0;
    padding: 0;
  }

  #addExerciseContainer, #addSetContainer {
    height: 35vh;
    width: calc(98% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem;
    background: #ddd;
    position: fixed;
    bottom: -50vh;
    transition: bottom 1s ease-in-out;
    z-index: 9;
    box-shadow: 0 0 2rem black;
    outline: 1px solid white;

    & div {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 0.25rem;
      width: calc(100% - 0.25rem);
    }

    & input, & button {
      width: 100%;
      padding: 0.5rem 0;
      display: flex;
      align-self: center;
      text-align: center;
      justify-content: center;
      margin: 0.25rem 0;
      font-size: 0.75rem;
    }

    &.slideIn {
      bottom: 0;
    }

    #addExerciseContainer.slideIn #exerciseSlider, #addSetContainer.slideIn #setSlider {
      transform: scale(0);
    }

    #exerciseSlider, #setSlider {
      position: absolute;
      height: 10vh;
      width: 10vh !important;
      border-radius: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -25vh;
      z-index: 10;
      box-shadow: 0 0 10px #00000033;
      transform: scale(1);
      transition: transform 100ms ease-in-out;
    }
  }

  #setList {
    li {
      flex-direction: column;
      margin: 0.5rem;


      align-items: flex-start;

      p {
        display: flex;
        padding: 0.25rem 0 0.5rem;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        &.complete {
          opacity: 0.2;
        }


        .removeSet, .toggleComplete {
          width: 100%;
          height: 2rem;
          min-height: unset;
          cursor: pointer;
          margin-top:0.25rem;


          &:hover {
            box-shadow: 0 0 1rem black;
          }

        }

        &.complete {
          .removeSet, .toggleComplete {
            &.removeSet {
              cursor: not-allowed;
            }

            &:hover, &:disabled {
              box-shadow: none;
            }
          }
        }


        div {
          width: 100%;
          display: flex;
          justify-content: center;
          &:first-child{
            justify-content: space-between;
          }

        }

        p:not(:last-of-type) {
          border-bottom: 1px solid black;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;

          &:last-of-type {
            margin-left: 0.05rem;
          }
        }

        &#setTimer.finished #finishRest {
          display: flex;
        }

        &#setTimer.finished div, &#setTimer.finished strong {
          display: none;
        }

        &#setTimer #finishRest {
          display: none;
        }

      }


    }


  }

  #emptyExercises, #emptySets {
    margin: 1rem;
    width: calc(100% - 2rem);
    min-height: 30vh;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: var(--medium-font);
  }

}


@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }
  header {
    background-color: #004A99;
    box-shadow: 0 10px 10px #00000033;
  }

  h1, h2, h3, h4, h5, h6, button, a {
    color: #eee;
  }
  a, #menu, input {
    background: #051923;
    outline: 1px solid #444;
    border: none;
    color: #eee;

  }

  button {
    background: #7c7c7c;
    color: #eee;
    border: none
  }

  input::placeholder, #setDescription {
    color: #999;
  }
  a {
    background-color: #3f3f3f !important;
    color: #ddd !important;

  }
  a:hover {
    background-color: #495867 !important;
    color: #bdd5ea !important;

  }

  #setList li {
    color: #00a6fb;

    p:not(:last-of-type) {
      border-bottom: 1px solid white;
    }


  }




  #exerciseContainer #addExerciseContainer,#setContainer #addSetContainer {
    background-color: #283845;

  }


  #exerciseContainer, #sectionContainer, #setContainer {
    outline: none;
  }
}
